.screen {
  width: 100vw;
  height: 100vh;
}

.full {
  width: 100%;
  height: 100%;
}

.fc {
  display: flex;
  flex-direction: column;
}

.fr {
  display: flex;
  flex-direction: row;
}

.warningTXT {
  color: rgb(191, 128, 0) !important;
}
.warningB {
  border-color: rgb(191, 128, 0) !important;
}
.warningBG {
  background: linear-gradient(135deg, rgb(191, 128, 0) 0%, rgb(191, 166, 0) 100%) !important;
}

.dangerTXT {
  color: rgb(204, 27, 20) !important;
}
.dangerB {
  border-color: rgb(204, 27, 20) !important;
}
.dangerBG {
  background: linear-gradient(135deg, rgb(166, 8, 35) 0%, rgb(204, 27, 20) 100%) !important;
}